{% extends "web/base.html" %}
{% load static %}

{% block titulo %} VER RESERVA - {% endblock%}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'web/css/detalle.css' %}">
{% endblock %}

{% block nav %}  {% endblock %}  

{% block main%}
<h3>ESTE ES EL DETALLE DE LA RESERVA <p id="titulo"> {{object.titulo}}</p></h3>
<section>
    <P>CATEGORIA DEL VEHICULO: </p><p class="objeto">{{object.descripcion}}</P>
    <p>FECHA DE INICIO DE LA RESERVA: </p><p class="objeto">{{object.fecha_inicio}}</p>
    <p>FECHA DE FINAL DE LA RESERVA: </p><p class="objeto">{{object.fecha_fin}}</p>
</section>
{% endblock %}